@page "/gebruiker/register"
@inject NavigationManager NavigationManager

<h1>Register</h1>

@if (!done)
{
    <MatTextField @bind-Value="@GebruikersNaam" Label="Gebruikersnaam" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@Email" Label="Email" FullWidth="true" Required="true" Type="email"></MatTextField>
    <MatTextField @bind-Value="@Naam" Label="Naam" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@Wachtwoord" Label="Wachtwoord" FullWidth="true" Type="password" Required="true"></MatTextField>
    <br />
    <MatDatePicker @bind-Value="datumAangeduid" Label="Geboortedatum" Outlined="true" Required="true" @onchange="@checkLeeftijd"></MatDatePicker>
    <br />
    if (!leeftijdHogerDan18)
    {
        <p style="margin: 0; color: red">Je moet 18+ zijn om een account te kunnen aanmaken.</p>
    }

    <MatCheckbox @bind-Checked="@Nieuwsbrief" Label="Nieuwsbrief?"></MatCheckbox>
    <br />
    <MatCheckbox @bind-Checked="@Notificaties" Label="Notificaties?"></MatCheckbox>


    <br />
    <br />

    <MatButton OnClick="@Register" Raised="true">Register</MatButton>
}
else
{
    <MatButton OnClick="@GaNaarLogin" Raised="true">Klik hier om in te loggen</MatButton>
}


@code {

    public DefaultClasses.DBConnection DBConnection { get; set; }
    public DefaultClasses.DataBase.Gebruiker Gebruiker;

    public string Naam;
    public string Email;
    public string Wachtwoord;
    public string GebruikersNaam;
    public bool leeftijdHogerDan18 = true;
    public bool Nieuwsbrief;
    public bool Notificaties;

    public bool done = false;

    public DateTime? datumAangeduid { get; set; } = DateTime.Now.AddDays(-10);
    public DateTime? datumNu { get; set; } = DateTime.Now;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
    }

    public void checkLeeftijd()
    {
        DateTime achtienTerug = DateTime.Now.AddYears(-18);

        if (((datumAangeduid.Value.Year - achtienTerug.Year) < 0))
        {
            leeftijdHogerDan18 = true;
        }
        else if (((datumAangeduid.Value.Year - achtienTerug.Year) == 0))
        {
            if ((datumAangeduid.Value.Month < achtienTerug.Month))
            {
                if ((datumAangeduid.Value.Day < achtienTerug.Day))
                {
                    leeftijdHogerDan18 = true;
                }
                else
                {
                    leeftijdHogerDan18 = false;
                }
            }
            else
            {
                leeftijdHogerDan18 = false;
            }
        }
        else
        {
            leeftijdHogerDan18 = false;
        }

    }

    private void Register()
    {
        if (leeftijdHogerDan18)
        {
            DBConnection.RegistreerGebruiker(Naam, Email, Wachtwoord, GebruikersNaam, Nieuwsbrief ? 1 : 0, Notificaties ? 1 : 0);
        }
        done = true;
    }

    public void GaNaarLogin()
    {
        NavigationManager.NavigateTo("/gebruiker/login");
    }

}