@page "/gebruiker/profiel"

    @*Matlayout gebruiken geen tabel*@

    <table>
        <tr>
            <td><MatTextField ReadOnly="true" Value="@HuidigeGebruiker.Gebruikersnaam"></MatTextField></td>
            <td><MatButton style="margin-left: 10px;" OnClick="@VeranderGebruikersnaam" Raised="true">Verander Gebruikersnaam</MatButton></td>
            <td><MatButton style="margin-left: 10px;" OnClick="@veranderWachtwoord" Raised="true">Verander Wachtwoord</MatButton></td>

            <MatDialog @bind-IsOpen="@dialog1IsOpen">
                <MatDialogTitle>Geef de nieuwe gebruikersnaam in</MatDialogTitle>
                <MatDialogContent>
                    <MatTextField @bind-Value="@nieuweGebruikersNaam"></MatTextField>
                </MatDialogContent>
                <MatDialogActions>
                    <MatButton OnClick="@(e => { dialog1IsOpen = false; })">Cancel</MatButton>
                    <MatButton OnClick="@OkClick1">Submit</MatButton>
                </MatDialogActions>
            </MatDialog>
        </tr>
        <tr>
            <MatDialog @bind-IsOpen="@dialog2IsOpen">
                <MatDialogTitle>Geef je oude wachtwoord in</MatDialogTitle>
                <MatDialogContent>
                    <MatTextField @bind-Value="@oudeWachtwoord" Type="password"></MatTextField>
                </MatDialogContent>
                @if (!oudWachtwoordJuisIngegeven)
                {
                    <MatDialogContent>
                        <p style="color: red;">Foute inloggegevens</p>
                    </MatDialogContent>
                }
                <MatDialogTitle>Geef je nieuwe wachtwoord in</MatDialogTitle>
                <MatDialogContent>
                    <MatTextField @bind-Value="@nieuwWachtwoord" Type="password"></MatTextField>
                </MatDialogContent>
                <MatDialogActions>
                    <MatButton OnClick="@(e => { dialog2IsOpen = false; })">Cancel</MatButton>
                    <MatButton OnClick="@checkWachtwoord">Submit</MatButton>
                </MatDialogActions>
            </MatDialog>
        </tr>
    </table>

    <p>
        <br /> <br />
        <MatButton OnClick="@UpdateProfiel" Raised="true">Update profiel</MatButton>
    </p>

@code{

    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }
    public DefaultClasses.DBConnection DBConnection { get; set; }

    public bool dialog1IsOpen = false;
    public bool dialog2IsOpen = false;

    public string nieuweGebruikersNaam = null;
    public bool oudWachtwoordJuisIngegeven = true;
    public string oudeWachtwoord = null;
    public string nieuwWachtwoord = null;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
    }

    public void VeranderGebruikersnaam()
    {
        dialog1IsOpen = true;
        nieuweGebruikersNaam = null;
    }

    public void veranderWachtwoord()
    {
        dialog2IsOpen = true;
        nieuwWachtwoord = null;

    }


    public void OkClick1()
    {
        HuidigeGebruiker.Gebruikersnaam = nieuweGebruikersNaam;
        dialog1IsOpen = false;
    }

    public void checkWachtwoord()
    {

        if(oudeWachtwoord == HuidigeGebruiker.Wachtwoord)
        {
            oudWachtwoordJuisIngegeven = true;
            HuidigeGebruiker.Wachtwoord = nieuwWachtwoord;
            dialog2IsOpen = false;
        }
        else
        {
            oudWachtwoordJuisIngegeven = false;
        }

    }

    public void UpdateProfiel()
    {
        DBConnection.UpdateGebruiker(HuidigeGebruiker);
    }

}