@page "/gebruiker/profiel"
@inject NavigationManager NavigationManager
@inject DefaultClasses.Gebruiker Gebruiker
@inject IMatToaster Toaster

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Persoonlijke gegevens</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid mat-layout-grid-align-left">
                <div class="mat-layout-grid-inner">

                    @* Deel 1 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatTextField ReadOnly="true" Value="@Gebruiker.Gebruikersnaam" FullWidth="true"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@VeranderGebruikersnaam" Raised="true">Verander Gebruikersnaam</MatButton>
                    </div>

                    <MatDialog @bind-IsOpen="@dialog1IsOpen">
                        <MatDialogTitle>Geef de nieuwe gebruikersnaam in</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField @bind-Value="@nieuweGebruikersNaam"></MatTextField>
                        </MatDialogContent>
                        <MatDialogActions>
                            <MatButton OnClick="@(e => { dialog1IsOpen = false; })">Cancel</MatButton>
                            <MatButton OnClick="@OkClick1">Submit</MatButton>
                        </MatDialogActions>
                    </MatDialog>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    @* Deel 1.1 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatTextField ReadOnly="true" Value="@Gebruiker.Naam" FullWidth="true"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@VeranderNaam" Raised="true">Verander Naam</MatButton>
                    </div>

                    <MatDialog @bind-IsOpen="@dialog4IsOpen">
                        <MatDialogTitle>Geef de nieuwe naam in</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField @bind-Value="@nieuweNaam"></MatTextField>
                        </MatDialogContent>
                        <MatDialogActions>
                            <MatButton OnClick="@(e => { dialog4IsOpen = false; })">Cancel</MatButton>
                            <MatButton OnClick="@OkClick4">Submit</MatButton>
                        </MatDialogActions>
                    </MatDialog>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    @* Deel 2 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatTextField Type="password" ReadOnly="true" Value="@Gebruiker.Wachtwoord" FullWidth="true"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@veranderWachtwoord" Raised="true">Verander Wachtwoord</MatButton>
                    </div>

                    <MatDialog @bind-IsOpen="@dialog2IsOpen">
                        <MatDialogTitle>Geef je oude wachtwoord in</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField Required="true" @bind-Value="@oudeWachtwoord" Type="password"></MatTextField>
                        </MatDialogContent>
                        @if (!oudWachtwoordJuisIngegeven)
                        {
                            <MatDialogContent>
                                <p style="color: red;">Foute inloggegevens</p>
                            </MatDialogContent>
                        }
                        <MatDialogTitle>Geef je nieuwe wachtwoord in</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField Required="true" @bind-Value="@nieuwWachtwoord" Type="password"></MatTextField>
                        </MatDialogContent>
                        <MatDialogActions>
                            <MatButton OnClick="@(e => { dialog2IsOpen = false; })">Cancel</MatButton>
                            <MatButton OnClick="@OkClick2">Submit</MatButton>
                        </MatDialogActions>
                    </MatDialog>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    @* Deel 3 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatTextField ReadOnly="true" Value="@Gebruiker.Email" FullWidth="true"></MatTextField>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@veranderEmail" Raised="true">Verander Email</MatButton>
                    </div>

                    <MatDialog @bind-IsOpen="@dialog3IsOpen">
                        <MatDialogTitle>Geef het nieuwe email adres in</MatDialogTitle>
                        <MatDialogContent>
                            <MatTextField Required="true" Type="email" @bind-Value="@nieuwEmail"></MatTextField>
                        </MatDialogContent>
                        <MatDialogActions>
                            <MatButton OnClick="@(e => { dialog3IsOpen = false; })">Cancel</MatButton>
                            <MatButton OnClick="@OkClick3">Submit</MatButton>
                        </MatDialogActions>
                    </MatDialog>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    @* Deel 4 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatCheckbox Disabled="true" @bind-Value="@notificaties" Label="Notificaties"></MatCheckbox>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@VeranderNotificaties" Raised="true">Verander Notificaties</MatButton>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    @* Deel 5 *@

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        <MatCheckbox Disabled="true" @bind-Value="@nieuwsbrief" Label="Nieuwsbrief"></MatCheckbox>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@VeranderNieuwsbrief" Raised="true">Verander Nieuwsbrief</MatButton>
                    </div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>

                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <MatButton Style="height: 50px; width: 230px;" OnClick="@UpdateProfiel" Raised="true">profiel bijwerken</MatButton>
                    </div>

                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Totaal balans</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>

        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Achievements</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">

                        </div>
                    }
                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

@code{

    public DefaultClasses.DBConnection DBConnection { get; set; }

    public bool dialog1IsOpen = false;
    public bool dialog2IsOpen = false;
    public bool dialog3IsOpen = false;
    public bool dialog4IsOpen = false;

    public bool oudWachtwoordJuisIngegeven = true;
    public bool UpdateWachtwoord = false;

    public bool notificaties;
    public bool nieuwsbrief;

    public string nieuweGebruikersNaam = null;
    public string nieuwEmail = null;
    public string nieuweNaam = null;

    public string oudeWachtwoord = null;
    public string nieuwWachtwoord = null;


    protected override void OnInitialized()
    {
        CheckGebruiker();
        DBConnection = new DefaultClasses.DBConnection();

        notificaties = (Gebruiker.Notificaties == 1) ? true : false;
        nieuwsbrief = (Gebruiker.Nieuwsbrief == 1) ? true : false;
    }

    public void VeranderGebruikersnaam()
    {
        dialog1IsOpen = true;
        nieuweGebruikersNaam = null;
    }

    public void veranderWachtwoord()
    {
        dialog2IsOpen = true;
        nieuwWachtwoord = null;

    }

    public void veranderEmail()
    {
        dialog3IsOpen = true;
        nieuwEmail = null;
    }

    public void VeranderNaam()
    {
        dialog4IsOpen = true;
        nieuweNaam = null;
    }

    public void VeranderNotificaties()
    {
        notificaties = !notificaties;
        Gebruiker.Notificaties = (notificaties) ? Gebruiker.Notificaties = 1 : Gebruiker.Notificaties = 0;
    }

    public void VeranderNieuwsbrief()
    {
        nieuwsbrief = !nieuwsbrief;
        Gebruiker.Nieuwsbrief = (nieuwsbrief) ? Gebruiker.Nieuwsbrief = 1 : Gebruiker.Nieuwsbrief = 0;
    }

    public void OkClick1()
    {
        Gebruiker.Gebruikersnaam = nieuweGebruikersNaam;
        dialog1IsOpen = false;
    }

    public void OkClick2()
    {

        if (DefaultClasses.Encryption.EncryptString(oudeWachtwoord) == Gebruiker.Wachtwoord)
        {
            oudWachtwoordJuisIngegeven = true;
            Gebruiker.Wachtwoord = nieuwWachtwoord;
            dialog2IsOpen = false;

            UpdateWachtwoord = true;
        }
        else
        {
            oudWachtwoordJuisIngegeven = false;
            UpdateWachtwoord = false;
        }

    }

    public void OkClick3()
    {
        Gebruiker.Email = nieuwEmail;
        dialog3IsOpen = false;
    }

    public void OkClick4()
    {
        Gebruiker.Naam = nieuweNaam;
        dialog4IsOpen = false;
    }

    private void CheckGebruiker()
    {
        if ((string.IsNullOrEmpty(Gebruiker.Naam)))
        {
            NavigationManager.NavigateTo("/gebruiker/logout");
        }
    }

    public void UpdateProfiel()
    {
        DBConnection.UpdateGebruiker(Gebruiker);

        if (UpdateWachtwoord)
        {
            DBConnection.UpdateGebruikerWachtwoord(Gebruiker);
        }

        Toaster.Add("Profiel opgeslagen", MatToastType.Success, "Opgeslagen!");

    }

}