@page "/crash"
@using CrashDomain
@inject DefaultClasses.Gebruiker Gebruiker

<h1 style="text-align: center;"> Crash </h1>

@if (temp)
{
    <div style="text-align: center; margin-top: 50px;">
        <MatNumericUpDownField Label="Inzet:"
                               @bind-Value=@testingNullableDecimal1
                               Step="10"
                               DecimalPlaces="0"
                               Minimum="0" Maximum="Gebruiker.Saldo">
        </MatNumericUpDownField>
    </div>

    <div style="text-align: center">
        <MatNumericUpDownField Label="Automatisch stoppen op:"
                               @bind-Value=@testingNullableDecimal2
                               Step="1.00m"
                               DecimalPlaces="2">
        </MatNumericUpDownField>
    </div>

    <div style="text-align: center; position: relative; margin-top: 50px;">
        <MatButton OnClick="@Click" Raised="true">Start spel</MatButton>
    </div>

}
else
{
    <p style="text-align: center; font-size:100px; margin-top:100px;">@Game.multiplier</p>
    <MatProgressBar Indeterminate="@progressBar"></MatProgressBar>

    if (autoCash)
    {
        <div style="text-align: center; margin-top: 25px">
            <MatButton OnClick="@VeranderWaarde" Raised="true">Stop automatisch uitcashen</MatButton>
        </div>
    }
    else
    {
        <div style="text-align: center; margin-top: 25px">
            <MatButton OnClick="@CashOut" Raised="true" Disabled="@cashOut">Cash Out</MatButton>
        </div>
    }

    <div style="text-align: center; margin-top: 100px">
        <p style="font-size: 75px; color: #e31e00">@crash</p>
        <p style="font-size: 30px">Aantal munten ingezet : @Game.muntenIngezet</p>
        <p style="font-size: 30px">Huidige winst : @Game.winstInMunten munten</p>
    </div>

    if (temp2)
    {
        <p style="text-align: center; margin-top: 50px; font-size: 20px">De volgende ronde start binnenkort!</p>
    }

}


@code {

    decimal? testingNullableDecimal1 = 0;
    decimal? testingNullableDecimal2 = 0;

    public CrashDomain.Game Game { get; set; }
    public DefaultClasses.DBConnection DBConnection { get; set; }

    public bool temp = true;
    public bool temp2 = false;
    public bool doeBerekening = true;
    public bool progressBar = true;
    public String crash;
    public bool cashOut = false;
    public bool autoCash = false;
    public int winstWaarde;

    protected override void OnInitialized()
    {
        Game = new Game();
        DBConnection = new DefaultClasses.DBConnection();
    }

    public async void Click()
    {
        if (!testingNullableDecimal1.HasValue || testingNullableDecimal1 == null)
        {
            Game.muntenIngezet = 0;
        }
        else
        {
            Game.muntenIngezet = (int)testingNullableDecimal1.Value;
        }

        if (Game.muntenIngezet <= Gebruiker.Saldo)
        {

            if (testingNullableDecimal2.HasValue && (double)testingNullableDecimal2.Value != 0)
            {
                Game.autoCashOut = (double)testingNullableDecimal2.Value;
                autoCash = true;
            }

            Gebruiker.Saldo -= Game.muntenIngezet;
            Gebruiker.Refresh();
            DBConnection.UpdateGebruiker(Gebruiker);

            temp = false;

            double i = 0.00;

            Game.genereerRandomGetal();

            while (i + 0.01 <= Game.totalMultiplier)
            {

                Game.GeefDoor(i);
                if (doeBerekening)
                {
                    Game.GeefWinstWeer();
                }

                if (autoCash && Game.multiplier == Game.autoCashOut)
                {
                    CashOut();
                }

                if (Game.winstInMunten > 0)
                {
                    winstWaarde = Game.winstInMunten;
                }

                this.StateHasChanged();

                await Task.Delay(Game.delay);

                i += 0.01;

            }

            crash = "Crashed @ " + Game.multiplier;
            temp2 = true;
            progressBar = false;
            doeBerekening = false;
            cashOut = true;

            this.StateHasChanged();

            await Task.Delay(5000);

            reset();

            if (autoCash)
            {
                Click();
            }

        }
        else
        {
            testingNullableDecimal1 = 0;
        }

    }

    public void CashOut()
    {
        temp2 = true;
        doeBerekening = false;

        cashOut = true;
        Gebruiker.Saldo += Game.winstInMunten + Game.muntenIngezet;

        Gebruiker.Refresh();
        DBConnection.UpdateGebruiker(Gebruiker);

    }

    public void reset()
    {
        temp = true;
        temp2 = false;
        doeBerekening = true;
        progressBar = true;
        crash = "";
        cashOut = false;

        if (!autoCash)
        {
            testingNullableDecimal1 = 0;
            testingNullableDecimal2 = 0;
        }

        Game = new Game();

        this.StateHasChanged();

        //TODO 0 inzet en autocashout werkt niet
    }

    public void VeranderWaarde()
    {
        autoCash = false;
        cashOut = true;
    }

}