@page "/bank"
@using GOK_SERVER.Data
@inherits OwningComponentBase<GebruikersService>

@if (Bank == null)
{
    <p>Loading...</p>
}
else
{
    <p>Huidig Balans: @huidig.Saldo</p>

    <MatNumericUpDownField Label="Withdrawal"
                           @bind-Value=@UpDownFieldWithdrawal
                           DecimalPlaces=0
                           Icon="attach_money"
                           Minimum="1" Maximum="@huidig.Saldo">

    </MatNumericUpDownField>
    <MatButton OnClick="@Withdrawal" Raised="true">Withdrawal</MatButton>

    <br />
    <br />

    <MatNumericUpDownField Label="Deposit"
                           @bind-Value=@UpDownFieldDeposit
                           DecimalPlaces=0
                           Icon="attach_money"
                           Minimum="1" Maximum="5000">

    </MatNumericUpDownField>
    <MatButton OnClick="@Deposit" Raised="true">Deposit</MatButton>
}

@code {

    [CascadingParameter]
    public CascadingClasses.HuidigeGebruikersNaam HuidigeGebruikersNaam { get; set; }

    public Bank Bank;
    public List<Gebruikers> gebruikers;
    public Gebruikers huidig;

    decimal? UpDownFieldWithdrawal = null;
    decimal? UpDownFieldDeposit = null;

    protected override async Task OnInitializedAsync()
    {
        gebruikers = await @Service.GebruikerLoginAsync(HuidigeGebruikersNaam.HuidigeNaam, HuidigeGebruikersNaam.Wachtwoord);
        huidig = gebruikers.First();
        Bank = new Bank(huidig.Saldo);
    }

    public void Deposit()
    {
        int temp = (int) UpDownFieldDeposit.Value;
        Bank.Money.Storten(temp);
        updateGebruiker();
    }

    public void Withdrawal()
    {
        int temp = (int) UpDownFieldWithdrawal.Value;
        Bank.Money.Afhalen(temp);
        updateGebruiker();
    }

    private async void updateGebruiker()
    {
        huidig.Saldo = Bank.Money.MuntenSaldo;
        //var result = await @Service.UpdateSaldoAsync(HuidigeGebruiker, HuidigeGebruiker.Spelersnummer);
    }

}