@page "/gebruiker/login"
@using GOK_SERVER.Data
@using GOK_SERVER.Data.GOK
@inherits OwningComponentBase<GebruikersService>

<h1>Login</h1>

@if (HuidigeGebruikersNaam.HuidigeNaam == null)
{
    <MatTextField @bind-Value="@Naam" Label="Gebruikersnaam" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@Wachtwoord" Label="Wachtwoord" FullWidth="true" Type="password" Required="true"></MatTextField>

    <br /><br />

    <MatButton OnClick="@LoginAsync" Raised="true">Login</MatButton>
}
else
{
    <table class="table">
        <tbody>
                <tr>
                    <td>@huidig.Naam</td>
                    <td>@huidig.Saldo</td>
                    <td>@huidig.Email</td>
                    <td>@huidig.DailyGiftDatum</td>
                </tr>
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public CascadingClasses.HuidigeGebruikersNaam HuidigeGebruikersNaam { get; set; }

    string Naam;
    string Wachtwoord;
    public List<Gebruikers> gebruikers;
    public Gebruikers huidig;

    private async Task LoginAsync()
    {

        var Temp = DefaultClasses.Encryption.EncryptString(Wachtwoord);
        gebruikers = await @Service.GebruikerLoginAsync(Naam, Temp);
        huidig = gebruikers.First();

        HuidigeGebruikersNaam.HuidigeNaam = huidig.Gebruikersnaam;
        HuidigeGebruikersNaam.Wachtwoord = huidig.Wachtwoord;

    }
}