@page "/gebruiker/login"

<h1>Login</h1>

@if (HuidigeGebruiker.Email == null)
{
    <MatTextField @bind-Value="@Naam" Label="Gebruikersnaam" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@Wachtwoord" Label="Wachtwoord" FullWidth="true" Type="password" Required="true"></MatTextField>

    <br /><br />

    <MatButton OnClick="@Login" Raised="true">Login</MatButton>
}
else
{
    <table class="table">
        <tbody>
                <tr>
                    <td>@HuidigeGebruiker.Naam</td>
                    <td>@HuidigeGebruiker.Saldo</td>
                    <td>@HuidigeGebruiker.Email</td>
                    <td>@HuidigeGebruiker.DailyGiftDatum</td>
                </tr>
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }

    public DefaultClasses.DBConnection DBConnection { get; set; }
    public DefaultClasses.Gebruiker Gebruiker;

    string Naam;
    string Wachtwoord;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
    }

    private void Login()
    {
        Gebruiker = DBConnection.LogGebruikerIn(Naam, Wachtwoord);
        HuidigeGebruiker = Gebruiker;
    }
}