@page "/gebruiker/login"
@using GOK_SERVER.Data
@using GOK_SERVER.Data.GOK
@inherits OwningComponentBase<GebruikersService>

<h1>Login</h1>

@if (Gebruiker.Naam == null)
{
    <MatTextField @bind-Value="@Naam" Label="Gebruikersnaam" FullWidth="true" Required="true"></MatTextField>
    <MatTextField @bind-Value="@Wachtwoord" Label="Wachtwoord" FullWidth="true" Type="password" Required="true"></MatTextField>

    <br /><br />

    <MatButton OnClick="@LoginAsync" Raised="true">Login</MatButton>
}
else
{
    <table class="table">
        <tbody>
                <tr>
                    <td>@Gebruiker.Naam</td>
                    <td>@Gebruiker.Saldo</td>
                    <td>@Gebruiker.Email</td>
                    <td>@Gebruiker.DailyGiftDatum</td>
                </tr>
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public Data.GOK.Gebruikers Gebruiker { get; set; }

    string Naam;
    string Wachtwoord;
    public List<Gebruikers> gebruikers;

    private async Task LoginAsync()
    {
        gebruikers = await @Service.GebruikerLoginAsync(Naam, Wachtwoord);
        Gebruiker = gebruikers.First();
    }
}