@page "/hoger_lager"
    
    <div style="text-align: center;">
        <h1 style="display: inline-block;">Hoger Lager</h1>
        <MatIcon Style="display: inline-block;" Icon="info"></MatIcon>
    </div>
    
    @if (!spelGestart)
    {
        <div style="text-align: center; position: relative; top: 300px;">
            <MatButton Unelevated="true" OnClick="@toonKnoppen">Start spel</MatButton>
        </div>
    }

    @if (laatAllesZien)
    {

        @if(HuidigeGebruiker.Saldo > 0) { 

            <div style="text-align: center; position: relative; top: 600px;">
                <MatNumericUpDownField OnFocusOut="@checkIngevuldeWaarde" Label="coins inzetten"
                                       @bind-Value=@testingNullableDecimal2
                                       DecimalPlaces=0
                                       Minimum=1 Maximum=@HuidigeGebruiker.Saldo>
                </MatNumericUpDownField>
            </div>
        }

        <div style="text-align: center; position: relative; top: 625px;">
            <MatButton Unelevated="true" OnClick="@startSpel" Disabled="@disabled">Trek kaart</MatButton>
        </div>
    }

    @if (toonKaarten)
    {

        <div style="position: relative; top: 30px;">
            <p style="position: relative; left: 1134.5675px; display: inline-block;">Jouw kaart:</p>
            <p style="position: relative; left: 110px; display: inline-block;">Kaart computer:</p>
        </div>

        <img style="position: relative; top: 50px; left: 1134.5675px; height: 400px;" src="@hogerLager.spelerKaart.url" />
        <img style="position: relative; top: 50px; left: -75px; height: 400px;" src="@hogerLager.computerKaart.url" />

        <p style="text-align: center;">@hogerLager.resultaat</p>
    }

@code{

    
    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }

    public DefaultClasses.DBConnection DBConnection { get; set; }

    HogerLagerDomain.HogerLager hogerLager;
    
    public bool disabled = true;
    public bool laatAllesZien = false;
    public bool spelGestart = false;

    public bool toonKaarten = false;

    decimal? testingNullableDecimal2 = 0;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
    }
   
    public void toonKnoppen()
    {
        laatAllesZien = true;
        spelGestart = true;
    }

    public void checkIngevuldeWaarde()
    {
        if (testingNullableDecimal2.HasValue && (int)testingNullableDecimal2.Value > 0)
        {
            disabled = false;
        }
        else
        {
            disabled = true;
        }
    }

    public void startSpel()
    {
        hogerLager = new HogerLagerDomain.HogerLager((int)testingNullableDecimal2.Value);
        HuidigeGebruiker.Saldo += hogerLager.StartSpel();
        updateGebruiker();
        toonKaarten = true;
    }

    private void updateGebruiker()
    {
        DBConnection.UpdateGebruiker(HuidigeGebruiker);
    }

}
