@page "/koen"
<h1 style="text-align: center;">Roullette</h1>
<div>
    <style>
        img, td {
            margin: 0px;
            float: left;
            border: 0px;
            padding: 0px;
        }

        table {
            border-spacing: 0px;
            border-collapse: collapse;
        }
    </style>
</div>

@if (knop)
{
    <table class="tabel">
        <tr>
            <td rowspan="3">
                <img src="img/roulette/0.jpg" style=" height: 300px; width: 60px;">
            </td>
            <td>
                <table>
                    <tr>
                        <td @onclick="() => nummer(3)">
                            <img src="img/roulette/3.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(3)">
                            <img src="img/roulette/6.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(6)">
                            <img src="img/roulette/9.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(9)">
                            <img src="img/roulette/12.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(12)">
                            <img src="img/roulette/15.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(15)">
                            <img src="img/roulette/18.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(18)">
                            <img src="img/roulette/21.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(21)">
                            <img src="img/roulette/24.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(24)">
                            <img src="img/roulette/27.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(27)">
                            <img src="img/roulette/30.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(30)">
                            <img src="img/roulette/33.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(33)">
                            <img src="img/roulette/36.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(36)">
                            <img src="img/roulette/2to1-1.jpg" style=" height: 100px; width: 60px;" onclick="">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/roulette/2.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(2)">
                            <img src="img/roulette/5.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(5)">
                            <img src="img/roulette/8.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(8)">
                            <img src="img/roulette/11.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(11)">
                            <img src="img/roulette/14.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(14)">
                            <img src="img/roulette/17.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(17)">
                            <img src="img/roulette/20.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(20)">
                            <img src="img/roulette/23.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(23)">
                            <img src="img/roulette/26.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(26)">
                            <img src="img/roulette/29.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(29)">
                            <img src="img/roulette/32.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(32)">
                            <img src="img/roulette/35.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(35)">
                            <img src="img/roulette/2to1-2.jpg" style=" height: 100px; width: 60px;">
                        </td>
                    </tr>
                    <tr>
                        <td onclick="@nummer(1)">
                            <img src="img/roulette/1.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(1)">
                            <img src="img/roulette/4.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(4)">
                            <img src="img/roulette/7.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(7)">
                            <img src="img/roulette/10.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(10)">
                            <img src="img/roulette/13.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(13)">
                            <img src="img/roulette/16.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(16)">
                            <img src="img/roulette/19.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(19)">
                            <img src="img/roulette/22.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(22)">
                            <img src="img/roulette/25.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(25)">
                            <img src="img/roulette/28.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(28)">
                            <img src="img/roulette/31.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(31)">
                            <img src="img/roulette/34.jpg" style=" height: 100px; width: 60px;" onclick="@nummer(34)">
                            <img src="img/roulette/2to1-1.jpg" style=" height: 100px; width: 60px;">
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/roulette/groeneRuimte.jpg" style=" height: 80px; width: 60px;">

                <img src="img/roulette/1st12.jpg" style=" height: 80px; width: 240px;">
            </td>
            <td>
                <img src="img/roulette/2nd12.jpg" style=" height: 80px; width: 240px;">
            </td>
            <td>
                <img src="img/roulette/3rd 12.jpg" style=" height: 80px; width: 240px;">
            </td>
            <td>
                <img src="img/roulette/groeneRuimte.jpg" style=" height: 80px; width: 60px;">
            </td>
        </tr>
        <tr>
            <td>
                <img src="img/roulette/groeneRuimte.jpg" style=" height: 80px; width: 60px;">
                <img src="img/roulette/1to18.jpg" style=" height: 80px; width: 120px;"><img src="img/roulette/even.jpg" style=" height: 80px; width: 120px;">
            </td>
            <td>
                <img src="img/roulette/zwart.jpg" style=" height: 80px; width: 120px;">
                <img src="img/roulette/rood.jpg" style=" height: 80px; width: 120px;">
            </td>
            <td>
                <img src="img/roulette/oneven.jpg" style=" height: 80px; width: 120px;">
                <img src="img/roulette/19 to 36.jpg" style=" height: 80px; width: 120px;">
                <img src="img/roulette/groeneRuimte.jpg" style=" height: 80px; width: 60px;">
            </td>
        </tr>
    </table>

    <p>Standaard uitkomst = 50 --> nieuwe uitkomst = @uitkomst</p>
    <MatButton Unelevated="true" OnClick="@inzet">Ingezet</MatButton>
    <p>@getal</p>

    if (gok1)
    {
        <MatNumericUpDownField Label="inzet"
                               @bind-Value=@UpDownField1
                               DecimalPlaces=0
                               Icon="attach_money"
                               Minimum="1" Maximum="100">
        </MatNumericUpDownField>
        <MatButton Raised="true">Go!</MatButton>
    }
}
else
{
    <div style="text-align: center; position: relative; top: 300px;">
        <MatButton Unelevated="true" OnClick="@startSpel">Start spel</MatButton>
    </div>
}
@code{

    public bool knop = false;
    public bool gok1 = false;
    decimal? UpDownField1 = null;
    public int uitkomst = 0;
    public int getal = 0;
    //(int)UpDownField1.Value;

    private object e = null;

    public string stijl3 = "";
    // string[] arrayStijlen = new string[];
    public RouletteDomain.Game game;

    public void startSpel()
    {
        knop = true;
    }

    public void inzet()
    {

    }

    public Object nummer(int nummer)
    {

        this.getal = nummer;
        return null;

    }
}